@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* hdi == huyhoangdoit :)) */

.hdi-topmenu-expanded {
  @apply absolute top-10 z-50 w-full text-center  bg-white bg-opacity-90 animate-slideDown;
}
.hdi-top-menu-item {
  @apply cursor-pointer py-1 hover:text-gray-800 relative after:absolute after:bottom-0 after:left-0
    after:bg-coffee-200 after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out 
    after:duration-300;
}

.hdi-top-menu-item-active {
  @apply text-black relative after:absolute after:bottom-0 after:left-0
  after:bg-coffee-200 after:h-0.5 after:w-full;
}

.hdi-icon {
  @apply w-5 h-5 inline-block;
}

.hdi-badge-cirle {
  @apply text-xs text-center rounded-full px-1.5;
}

/* Sub Headline */

.hdi-subheadline {
  @apply flex justify-center items-center mb-24;
}

.hdi-subheadline-deco-line {
  @apply w-8 h-px bg-gray-200;
}

.hdi-subheadline-label {
  @apply uppercase mx-4 tracking-widest text-gray-500 font-medium text-xs text-center;
}

.hdi-button {
  @apply text-center uppercase tracking-wider py-4 px-7 text-xs
  font-medium cursor-pointer hover:bg-opacity-90;
}
